//================================================
// HELPERS
//================================================


// Clearfix

%clearfix {
	&:after {
	content: "";
	display: table;
	clear: both;
	}
}
    
// Offscreen

.offscreen {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Pseudo-Elements

%pseudos {
	display: block;
	content: ''; 
	position: absolute;
}