//================================================
// MIXINS
//================================================


// Text

@mixin text(
$family: $base-font-family, 
$size: $base-font-size, 
$weight: $base-font-weight, 
$l-height: $base-l-height, 
$color: $base-font-color) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	line-height: $l-height;
	color: $color;
}