//================================================
// VARIABLES
//================================================


// Colors

$white           : #FFF;
$grey-light      : #F2F2F2;
$grey            : #555;
$grey-dark       : #333;
$black           : #000;
$primary         : #C40D0D;
$primary-shade   : darken($primary, 10%);
$secondary       : $black;
$secondary-shade : darken($secondary, 10%);

// Font Stacks

$font-open-sans  : 'Open Sans', Arial, Helvetica, sans-serif;
$font-oswald     : 'Oswald', sans-serif;

// Text Mixin 

$base-font-family : $font-open-sans;
$base-font-size   : 16;
$base-font-weight : 400;
$base-l-height    : 1.5;
$base-font-color  : $grey-dark;

// Asset Paths

$path-img         : '../img';
$path-font        : '../fonts';

// Media Query Breakpoints 

// < Mobile
$breakpoint-sml : 34em;
// < Tablet
$breakpoint-med : 50em;