//================================================
// CONTAINERS
//================================================

.container {
	height: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.container--text {
	@extend .container;
	max-width: 37.5em;
}

.container--hero {
	position: relative;
	height: 1000px;
	height: 100vh;
	z-index: 1;
	background: 
		-webkit-linear-gradient( bottom, $white 20%, transparent),
		url('../img/hero-img.png') no-repeat center $white
	;
	background: 
		linear-gradient( 0deg, $white 20%, transparent),
		url('../img/hero-img.png') no-repeat center $white
	;
	background-size: auto 100%;
	color: $white;
}

.container--hero--text {
	padding: 20px 30px;
	
		& > h1 {
			color: $primary;
		}
		
		& > p {
			color: $black;
		}
		
		@media all and (min-width: 46em) {
			
			& > p {
				font-size: 1.125em;
			}	
		}
}

.container--card {
	padding: 0 20px;
	
		& > h3 {
			margin: 20px 0 12px;
		}
}

.container--icn {
	margin-bottom: 1.5em;
}

// Flexbox Containers

.container--flex-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;
	-ms-flex-pack: distribute;
    	justify-content: space-around;
	max-width: 1280px;
	margin: 0 auto;
}

.flex-bottom-vertically {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
        flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
        justify-content: flex-end;
}