//================================================
// CONTAINERS
//================================================

.container {
	height: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.container--text {
	@extend .container;
	max-width: 37.5em;
}

.container--hero {
	position: relative;
	height: 1000px;
	height: 100vh;
	z-index: 1;
	background: 
		linear-gradient( 0deg, $white 20%, transparent),
		url('../img/hero-img2.jpg') no-repeat center
	;
	background-size: cover;
	color: $white;
}

.container--hero--text {
	padding: 20px 30px;
	
		& > h1 {
			color: $primary;
		}
		
		& > p {
			color: $black;
		}
		
		@media all and (min-width: 46em) {
			
			& > p {
				font-size: 1.125em;
			}	
		}
}

.container--card {
	padding: 0 20px;
	
		& > h3 {
			margin: 20px 0 12px;
		}
}

.container--icn {
	margin-bottom: 1.5em;
}

// Flexbox Containers

.container--flex-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1280px;
	margin: 0 auto;
}

.flex-center-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-bottom-vertically {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}