//================================================
// CUSTOM ANIMATIONS
//================================================


// Sliding Line animation used for the header links

.sliding-line {
	display: inline-block;
}

.sliding-line:after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-line:hover:after {
	width: 100%;
	background: $primary;
}