//================================================
// BUTTONS
//================================================

.btn {
	display: inline-block;
	background: $primary;
	padding: 0.7em 1.5em;
	margin-bottom: 1.5em;
	border-radius: 2em;
	color: $white;
	text-decoration: none;
	-webkit-transition: background .2s linear;
			transition: background .2s linear;
	
		&:active,
		&:focus,
		&:hover {
			background: $primary-shade;
		}
	
		&--ghost {
			@extend .btn;
			color: $primary;
			background: none;
			border: 2px solid $primary;
			-webkit-transition: background, color .2s linear;
					transition: background, color .2s linear;
			
				&:active,
				&:focus,
				&:hover {
					background: none;
					border-color: $primary-shade;
					color: $primary-shade;
				}
			
			&-secondary {
				@extend .btn--ghost;
				color: $secondary;
				border-color: $secondary;
				
					&:active,
					&:hover {
						background: none;
						border-color: $secondary-shade;
						color: $secondary-shade;
					}
			}	
			
			&-tertiary {
				@extend .btn--ghost;
				color: $tertiary;
				border-color: $tertiary;
				
					&:active,
					&:hover {
						background: none;
						border-color: $tertiary-shade;
						color: $tertiary-shade;
					}
			}	
		}	
}