//================================================
// ICONS
//================================================

.icn {
	display: inline-block;
	background-image: url('#{$path-img}/icons.svg');
	width: 52px;
	height: 52px;
	margin: 0 5px;
	overflow: hidden;
	opacity: 1;
	transition: opacity .2s linear;
		
		&--mail {
			@extend .icn;
			background-position: 208px 208px;
		}
		
		&--twitter {
			@extend .icn;
			background-position: 208px 156px;
		}
		
		&--linkedin {
			@extend .icn;
			background-position: 208px 104px;
		}
		
		&--treehouse {
			@extend .icn;
			background-position: 52px 104px;
		}
		
		&--codepen {
			@extend .icn;
			background-position: 156px 104px;
		}
		
		@media all and (min-width: $breakpoint-med) {
			opacity: 0.5;
			
			&:active,
			&:focus,
			&:hover {
				opacity: 1;
			}
		}
}