//================================================
// TOOLTIPS
//================================================

.tooltip {
	cursor: pointer;
	position: relative;
			
		&:before,
		&:after {
			position: absolute;
			left: 56%;
			opacity: 0;
			z-index: -100;
		}
		
		&:hover::before,
		&:focus::before,
		&:hover::after,
		&:focus::after {
			opacity: 1;
			z-index: 100;
		}
		
		&::before {
			content: "";
			border-style: solid;
			border-width: 0 .75em 1em .75em;
			border-color: transparent transparent $white transparent;
			bottom: -60%;
			margin-left: -28%;
		}
		
		&::after {
			content: attr(data-tip);
			font-size: 0.8em;
			font-weight: 700;
			background: $white;
			border-radius: em(2);
			top: 150%;
			color: $base-font-color;
			width: 12em;
			padding: em(8) em(10);
			margin-left: -6.5em;
		}
	
}