//================================================
// BASE ELEMENT STYLES
//================================================


*, :before, :after {
	box-sizing: border-box;
}

html {
	font-size: $base-font-size;
}

body {
	@include text;
	
		@media all and (min-width: $breakpoint-med) {
			font-size: 18px;
		}
		
		@media all and (min-width: $breakpoint-lge) {
			font-size: 20px;
		}
}

h1, h2, h3, h4 {
	font-family: $font-oswald;
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 3.5em;
	line-height: 1.1;
	margin: 0 0 .2em;
	
		@media all and (min-width: $breakpoint-sml) {
			font-size: 5.5em;
		}
}

h2 {
	font-size: 1.953em;
	line-height: 1.2;
	margin: 0 0 .8em;
}

h3 {
	font-size: 1.563em;
	line-height: 1.3;
	margin: 0 0 .5em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.4;
}

a {
	color: $primary;
}

p {
	margin: 0 0 1.5em;
}

section:nth-of-type(2) {
	background-color: $white;	
}

section:nth-of-type(3) {
	background-color: $grey-light;	
}

section:nth-of-type(4) {
	background-color: $primary;	
	color: $white;
}

footer {
	font-size: 0.8em;
}